{{!-- Header --}}
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">No Comment</a>
</nav>

<br><br>
<div class="container">
<div class="section">

{{!-- Cards for news articles --}}
{{#each article}}
  <div class="row">
    <div class="col s12 m12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{image}}">
        </div>

        <div class="card-stacked">
          <div class="card-content">

            <div class="row">
              <span class="card-title"><h5>{{heading}}</h5></span>
            </div>

            <div class="row">
              <h6>By {{byline}} Published {{dateFormat date "dddd, MMMM Do YYYY, h:mm:ss a"}}</h6>
            </div>
            <p>{{teaser}}</p>
          </div>

          <div class="card-action">
            <a href="{{url}}">Read More...</a><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">comment</i></span>
          </div>

        </div>

        {{!-- Card for comments --}}
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
          {{#each comments}}
          <div class="card-panel">
            <div class="card-content">
            
              {{!-- Flag comment section --}}
              <i class="material-icons right dropdown-button hoverable" data-activates="flag" data-constrainwidth="false">report_problem</i>

              <ul id="flag" class="dropdown-content">
                <li><a class="red-text" href="/flag/inappropriate/{{_id}}">Report inappropriate.</a></li>
                <li><a class="red-text" href="/flag/spam/{{_id}}">Report spam.</a></li>
              </ul>

              <p>{{comment}}</p>
            </div>

            <div class="card-footer"><div class="chip"><i class="material-icons">face</i>{{commenter}}</div></div>
            <span class="right">{{dateFormat date "dddd, MMMM Do YYYY, h:mm:ss a"}}</span>
          </div>
          {{/each}}
          
          {{!-- New comment form --}}
          <form method="POST" class="card-panel" id="comment-form" action="/comment?_method=POST">
            <input type="hidden" name="articleID" value="{{_id}}">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="comment" name="comment" type="text" class="validate materialize-textarea" required="required"></textarea>
                <label for="comment">Comment</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="comment-name" name="commenter" type="text" class="validate" required="required">
                <label for="comment-name">Name</label>
              </div>
              <br>
              <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action">Post</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>    
  {{/each}}
</div>
</div>


  <div class="container">
    <div class="section">


      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://albertmin.com.com">Albert Min</a>
      </div>
    </div>
  </footer>